<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>


</p>

<p>
  <strong>Start time:</strong>
</p>

<p>
  <strong>End time:</strong>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
